@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

body {
    font: bold medium 'Architects Daughter', cursive;
    padding: 2% 4%;
}

h1,
h2 {
    text-align: center;
}
